@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
	font-family: "Roboto";
	margin: 0px;
	color:white;
	text-decoration: none;
	color: #3C91E6;
}

body{
	background-color: #0A0A0A;
}


header{
	display: flex;
	justify-content: space-between;
	padding: 10px;
	
}

h1 {
	color: #3C91E6;
}

.menu{
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	
}

.info{
	padding: 0px 0px 0px 20px;
}

.nav{
	padding: 0px 0px 0px 20px;
}

main{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.button{
	display: flex;
	justify-content: center;
	padding: 10px;
	margin: 15px;
	border-radius: 16px;
	border: solid ;
}

span{
	display: flex;
	justify-content: center;
}

footer{
	display: flex;
	justify-content: center;
}

.tile {
	height: 120px;
    width: 120px;
	display: flex;
	border-radius: 16px;
	border: 1px solid white;
	margin: 5px;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}


.category{
	display: flex;
	position: relative;
	margin: 35px 15px;
}

h3{
	margin: 25px 0px 0px 0px;
	position: absolute;
	margin: 5px;
}

.hr{
	margin: 20px 0px 0px 0px;
}

.six{
	display: flex;

}

.tiles{
	display: flex;
	flex-direction: column;
	align-items: center;
}

form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.input,.submit{
	margin: 10px;
	height: 50px;
	width: 70vw;
	resize: none;
	text-align: center;
	color: white;
	background-color: black;
	border: solid 1px #3C91E6;
	border-radius: 10px;
	padding: 1px 2px;
}

@media (max-width: 900px){
	.six{
		flex-direction: column;
	}
	.footer{
		margin: 0px 0px 20px 0px;
	}
}

@media (max-width: 525px){
	.menu{
		flex-direction: column;
		text-wrap: nowrap;
		align-items: center;
		justify-content: center;
	}
	.logo {
		font-size: 90%;
		display: flex;
		align-items: center;
	}
	.index {
		padding: 0px 0px 0px 20px;
	}
}

@media (max-width: 400px){
	.category{
		flex-direction: column;
	}
}