@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Roboto";
    text-decoration: none;
}

body{
    background-color: #001836;
    position: relative;
    height: 100%;
}

main{
    position: relative;
}

.menu {
    position: absolute;
    right: 30px;
    top: 0px;
    color: #228FD9;
    display: flex;
}

.menu_btn {
    margin: 10px 20px;
    font-size: 35px;
    text-align: center;
    
}

header{
    margin: 0px 0px 10px 0px;
}

main {
    margin: 0px 0px 50px 0px;
}


a{
    color: inherit;
    display: flex;
}

.formm {
    background-color: #2e2e2e;
    padding: 15px;
    width: 200px;
    height: 300px;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 16px;
    position: absolute;
    top: 100px;
    right: 0px;
    border: 2px solid #228FD9;
    z-index: 100;
}

.input, .submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 5px;
    font-size: 25px;
}


input {
    width: 80%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid white;
}

#signin, #signup {
    margin: 5px;
    background-color: #228FD9;
    width: 80%;
    height: 30px;
}

.section_head {
    background-color: #2e2e2e;
    color: white;
    width: 80%;
    display: flex;
    margin: 35px auto 0px auto;
    align-items: center;
    padding: 0px 15px;
    border-radius: 15px 15px 0px 0px;
    font-size: 30px;

}

.open {
    height: 25px;
    rotate: 90deg;
    margin: 0px 10px 0px 5px ;
}

.login_error, .login_successful {
    text-align: center;
    position: absolute;
    bottom: -5px;
    display: none;
    font-size: 15px;
}

.login_error{color: red;}
.login_successful{color: green;}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    background-color: #005c99;
    width: 80%;
    padding: 0px 15px;
    border-radius: 0px 0px 15px 15px;
    display: flex;
}

.tile{
    height: 300px;
    width: 225px;
    background-color: #2e2e2e;
    color: white;
    margin: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

.tile_image{
    height: 150px;
    margin: 5px;
}

.tile_text{
    padding: 0px;
    margin: 5px;
    font-size: 21px;
}

.none {
    display: none;
}

.border_rad_full{
    border-radius: 15px;
}

.border_rad{
    border-radius: 15px 15px 0px 0px;
}

.buy_btn{
    border: 1px solid white;
    padding: 5px;
    border-radius: 10px;
    background-color: #005c99;
}

.delivery{
    background-color: #2e2e2e;
    padding: 30px;
    width: 1000px;
    justify-content: center;
    position: absolute;
    border: 3px solid #228FD9;
    border-radius: 16px;
    left: 50%;
    transform: translateX(-50%); 
    top: 10px;
}

h2{
    text-align: center;
    color: #228FD9;
}

.delivery_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_elem{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 10px;
    width: 70%;
}

.form_input{
    width: 70%;
    margin: 0px 0px 0px 15px;
}

.form_text{
    width: 200px;
}

.form_submit{
    margin: 20px 0px 0px 0px;
}

.form_cross{
    height: 25px;
    width: 25px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.red {color: red;}
.green {color: green;}

h1 {
    position: relative;
    top: -100px;
    width: 100%;
    text-align: center;
    margin: 0px;
}

.anim {
    animation: sway 3s linear infinite;
}

@keyframes sway {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}