@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Roboto";
    text-decoration: none;
}

body{
    background-color: #001836;
    position: relative;
}

.menu {
    position: absolute;
    right: 30px;
    top: 0px;
    color: #228FD9;
    display: flex;
}

.menu_btn {
    margin: 10px 20px;
    font-size: 25px;
    text-align: center;
    
}

header, main{
    margin: 0px 0px 10px 0px;
}

a{
    color: inherit;
    display: flex;
}

form {
    background-color: #2e2e2e;
    padding: 15px;
    width: 250px;
    height: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 16px;
    position: relative;
}

.input, .submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 5px;
}

input {
    width: 70%;
    border-radius: 5px;
    border: 1px solid white;
}

#signin, #signup {
    margin: 5px;
    background-color: #228FD9;
    

}

.section {
    background-color: #2e2e2e;
    color: white;
    width: 80%;
    display: flex;
    margin: 20px auto;
    align-items: center;
    padding: 0px 15px;
    border-radius: 15px;

}

.open {
    height: 25px;
    rotate: 90deg;
    margin: 0px 10px 0px 5px ;
}

.login_error {
    text-align: center;
    color: red;
    position: absolute;
    bottom: 10px;
    display: none;
}