@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Roboto";
    text-align: center;
    justify-content: center;
}

body{
    background-color: #161616;
    display: flex;
    align-items: center;
    height: 1000px;
}

.form{
    display: flex;
    align-items: center;
}

.input{
    margin: 10px;
    text-align: left;
}