@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Roboto";
    text-decoration: none;
}

body{
    background-color: #001836;
    position: relative;
    height: 100%;
}

html{
    height: 1700px;
}

.menu {
    position: absolute;
    right: 30px;
    top: 0px;
    color: #228FD9;
    display: flex;
}

.menu_btn {
    margin: 10px 20px;
    font-size: 35px;
    text-align: center;
    
}

header, main{
    margin: 0px 0px 10px 0px;
}

a{
    color: inherit;
    display: flex;
}

form {
    background-color: #2e2e2e;
    padding: 15px;
    width: 200px;
    height: 300px;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 16px;
    position: absolute;
    top: 100px;
    right: 0px;
    border: 2px solid #228FD9;
}

.input, .submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 5px;
    font-size: 25px;
}


input {
    width: 80%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid white;
}

#signin, #signup {
    margin: 5px;
    background-color: #228FD9;
    width: 80%;
    height: 30px;
}

.section_head {
    background-color: #2e2e2e;
    color: white;
    width: 80%;
    display: flex;
    margin: 35px auto 0px auto;
    align-items: center;
    padding: 0px 15px;
    border-radius: 15px 15px 0px 0px;
    font-size: 30px;

}

.open {
    height: 25px;
    rotate: 90deg;
    margin: 0px 10px 0px 5px ;
}

.login_error {
    text-align: center;
    color: red;
    position: absolute;
    bottom: -5px;
    display: none;
    font-size: 15px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    background-color: #005c99;
    width: 80%;
    padding: 0px 15px;
    border-radius: 0px 0px 15px 15px;
    display: flex;
}

.tile{
    height: 300px;
    width: 225px;
    background-color: #2e2e2e;
    color: white;
    margin: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

.tile_image{
    height: 150px;
    margin: 5px;
}

.tile_text{
    padding: 0px;
    margin: 5px;
    font-size: 21px;
}

.none {
    display: none;
}

.border_rad_full{
    border-radius: 15px;
}

.border_rad{
    border-radius: 15px 15px 0px 0px;
}